<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  
  <head>
	<div th:replace="common/fragments :: css-importok"></div>
  </head>
  
  <body>
    <div>
   	 <video autoplay muted loop id="myVideo">
   	 	<source th:src="@{imgs/background.mp4}" type="video/mp4"/>
   	 </video>
	</div>

    	<div class="login-container">
    	
    	<form class="login-form" th:action="@{/login}" action="login" method="post">
	    	<input type="hidden" id="osName" name="osName"/>
	       <div class="centered">
	       	  <div th:if="${param.error}" class="alert alert-danger"> Helytelen felhasználónév vagy jelszó! </div>
<!-- 	       	  <div th:if="${param.logout}" class="alert alert-success"> Ön kijelentkezett. </div> -->
	       	
		     
			  <h1 style="text-align: center;">My Movie Db</h1>
		  </div>
		  <div class="">
		  	 <div>
			      <label for="username">Username</label>
			      
			      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
			      <br />
			      <label for="jelszo">Password</label>
			      
			      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
				  <br />
				  <button class="btn btn-lg btn-success btn-block mb-3" type="submit"><i class="fa fa-sign-in-alt"></i> Login</button>
			  </div>

       </div>
    </form>
    </div>

     
    <script>
    
    </script>
    
  </body>
  
  <style>
 		.vilagosszurke-hatter {
 			background: #E8E8E8;
 		}
 		
 		.atlatszo-feher-hatter {
 			background: rgba(255,255,255,0.7);
 		}
 		
 		@media only screen and (min-width: 1400px) {
 			.margin-0-100px {
 			margin: 0 100px;
 			}
 		}
 		
 	</style>
</html>