
<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <base href="/"/>

    <title>Movie Details</title>

	<div th:replace="common/fragments :: css-importok"></div>
	
	<link rel="shortcut icon" type="image/x-icon"	href="../static/icons/the-movie-db-25210-0.jpg" th:href="@{/icons/the-movie-db-25210-0.jpg}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    
  </head>
  <body class="bg-light">
  
  <div th:replace="common/fragments :: navbar"></div>
  
    <div class="container">
  <div class="py-5 text-center">

    <img style="max-width: 500px"class="img-thumbnail" th:src="@{${movie.logoImagePath}}"alt="Card image cap">
    
    <h2 th:text=${movie.title}>Title</h2>
    <p th:text="${'('+movie.releseDate}+')'">Year</p>
  </div>


  <div class="row justify-content-end">
   <div class="col-4">
   


	<th:block th:if="${!isWatchListed}">
		<form id="watchListForm" th:action="@{'addWatchList?id='+${movie.id}}" th:object="${watchList}" method="POST">
	   		<button type="submit" class="btn btn-success">Add watchList</button>
	   </form>
	</th:block>
   
    <th:block th:unless="${!isWatchListed}">
    	<form id="watchListForm" th:action="@{'removeWatchList?id='+${movie.id}}" th:object="${watchList}" method="POST">
   			<button type="submit" class="btn btn-danger">Remove watchList</button>
   		</form>
	</th:block>
   
   
   
   	  <h4 class="mb-3">Description</h4>
      <p th:text="${movie.description}"class="lead">Desc</p>
   </div>
    <div class="col-6">
     <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Actors</span>
      </h4>
      <ul th:each="actor : ${movie.actors}" class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6><a th:text="${actor.name}" class="my-0" th:href="@{/actor?id={id}(id=${actor.id})}">Name</a></h6>
            <small class="text-muted">#Character name maybe#</small>
          </div>
        </li>
      </ul>
	 </div>
    </div>
  </div>
  
  <div class="row justify-content-md-center">
  	<div th:each="r : ${reviews}" class="column">
		<div class="card border-dark mb-3" style="max-width: 18rem;">
		  	<div th:text="${r.postDate}" class="card-header">Header</div>
			  	<div class="card-body text-dark">
				    <h5 th:text="'@'+${r.user.username}" class="card-title">Dark card title</h5>
				    <p th:text="${r.text}" class="card-text"></p>
			  	</div>
	  	</div>
  	</div>
  	
  </div>
  

    <div th:hidden="${!isLogged}" class="col-md-8 order-md-1">
   
	<form id="reviewForm" th:action="@{'newReview/?id='+${movie.id}}" th:object="${newReview}" method="POST">
	
		<div class="form-group mb-3">
          <label for="username">Reviews</label>
          <textarea class="form-control" rows="7" id="reviewTextArea" th:field="*{text}" required>
          </textarea>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input readonly type="text" th:value="${username}" class="form-control" id="username" placeholder="Username">
          </div>
          </br>
          <button class="btn-success">Add new review</button>
        </div>
	</form>
     
        <hr class="mb-4">

    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2020 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</html>
