<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>New Actor</title>

	<div th:replace="common/fragments :: css-importok"></div>
	
	<link rel="shortcut icon" type="image/x-icon"	href="../static/icons/the-movie-db-25210-0.jpg" th:href="@{/icons/the-movie-db-25210-0.jpg}">
   
  </head>


<body class="bg-light">

<div th:replace="common/fragments :: navbar"></div>

<div class="container-md">
	
		<div th:if="${sikeresFeltoltes}" style="width: 50%; margin: 0 auto;" class="alert alert-success alert-dismissible fade show text-center " role="alert">
              <button type="button" class="close"  data-dismiss="alert">&times;</button>
			  Sikeres feltöltés.
		  </div>
	
	<h4 class="mb-3">New Actor</h4>

	<form id="myForm"  th:action="@{newActor}" th:object="${newActor}" class="needs-validation" method="POST" novalidate>
		<div class="form-row">
		    <div class="col-md-6 mb-3">
		      <label for="validationDefault01">Name</label>
		      <input th:field="*{name}" type="text" class="form-control" id="validationDefault01" required>
		    </div>
		  </div>
		 
  <button class="btn btn-primary" type="submit">Save</button>

	</form>

</div>

 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>